*~
*.bin
*.d
*.exe
*.lst
*.o
*.obj
*.px4
.*.swo
.*.swp
.built
.context
*.suo
.cproject
.depend
.directory
.DS_Store
.metadata/
.project
.settings/
.vagrant
/tmp/*
Thumbs.db
Listings/*
Objects/*
obj/*
CTToolUpdater/obj/*
bin/Release/*
bin/Debug/*
*.application
#*.manifest
*.pdb
